.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list-item-reset {
  display: block;
}
.link-reset {
  display: block;
  text-decoration: none;
}
.text-reset {
  margin-top: 0;
  margin-bottom: 0;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-4 {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
}
/* Open Sans */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  object-fit: contain;
}
.page {
  height: 100%;
}
.page__body {
  margin: 0;
  height: 100%;
  width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.main-container {
  flex-grow: 1;
}
.main-header {
  min-height: 79px;
}
.navigation {
  position: relative;
  min-height: 79px;
}
.navigation__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 79px;
  width: 100%;
}
.navigation__logo {
  display: block;
  width: 86px;
  height: 35px;
}
.navigation__toggle {
  position: absolute;
  display: block;
  top: 30px;
  right: 30px;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  display: none;
}
.site-list__item {
  display: block;
  min-height: 79px;
}
.site-list__link {
  display: block;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.user-list__item {
  display: block;
  min-height: 79px;
}
.user-list__link {
  display: block;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: block;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
  box-sizing: border-box;
  padding: 16px 20px;
}
.main-footer {
  background-color: #f1f1f1;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 160px;
}
.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  min-height: 27px;
  min-width: 142px;
}
.social-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright-link {
  display: block;
  text-decoration: none;
  width: 183px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright-link__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.main-container__hero {
  margin-bottom: -41px;
}
.main-container__featured-product {
  margin-bottom: 31px;
}
.main-container__advantages {
  margin-bottom: 58px;
}
.main-container__customer-reviews {
  margin-bottom: 38px;
}
.main-container__contacts {
  margin-bottom: 39px;
}
.main-container__title {
  background-color: #f1f1f1;
  min-height: 177px;
  padding-left: 30px;
  padding-right: 30px;
}
.main-container__title--catalog {
  margin-bottom: 30px;
}
.main-container__title--form {
  margin-bottom: 17px;
}
.main-container__catalog {
  margin-bottom: 30px;
}
.main-container__manufacturing {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 58px;
}
.main-container__order {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 55px;
}
.hero {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
  position: relative;
}
.hero__image {
  grid-column: 1/-1;
}
.hero__summary {
  margin-top: 0;
  margin-bottom: 0;
  grid-column: 2/-2;
  position: absolute;
  top: 79px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.hero__links-wrapper {
  grid-column: 1/-1;
  position: relative;
  bottom: 72px;
}
.hero__link {
  display: block;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
  min-height: 103px;
  padding: 24px 160px 31px 30px;
}
.hero__link--interior {
  background-color: #63D1BB;
  background-image: url("../../../img/hero/interior.svg");
  background-repeat: no-repeat;
  background-position: top 23px right 36px;
}
.hero__link--toys {
  background-color: #56C3B2;
  background-image: url("../../../img/hero/toy.svg");
  background-repeat: no-repeat;
  background-position: top 21px right 27px;
}
.featured-product {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
  position: relative;
}
.featured-product__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63D1BB;
  text-transform: uppercase;
  position: absolute;
  top: 33px;
  left: 30px;
}
.featured-product__item {
  grid-column: 2/-2;
}
.detailed-card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 41px;
}
.detailed-card__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: #444444;
  color: #000000;
  margin-bottom: 28px;
}
.detailed-card__specs {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: #444444;
  color: #000000;
  margin-bottom: 41px;
}
.detailed-card__image {
  margin-bottom: 25px;
}
.detailed-card__price {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  text-align: center;
  margin-bottom: 25px;
}
.detailed-card__button {
  width: 100%;
  margin-bottom: 40px;
}
.advantages {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
}
.advantages__intro {
  grid-column: 2/-2;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 2/-2;
}
.advantages__item {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  padding-top: 83px;
}
.customer-reviews {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
}
.customer-reviews__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  grid-column: 2/-2;
}
.customer-reviews__wrapper {
  grid-column: 2/-2;
}
.review {
  margin: 0;
}
.customer-reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.review__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: #444444;
  color: #000000;
}
.review__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.review__author-email {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  font-style: normal;
}
.slider__button-wrapper {
  grid-column: 2/-2;
  display: flex;
  margin-bottom: 38px;
}
.slider__button {
  flex-grow: 1;
  border: 1px solid #ececec;
}
.customer-reviews__link {
  display: block;
  text-decoration: none;
  grid-column: 2/-2;
  margin-bottom: 45px;
}
.contacts {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
}
.contacts__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  grid-column: 2/-2;
  margin-bottom: 28px;
}
.contacts__info {
  font-size: 14px;
  line-height: 30px;
  font-weight: #444444;
  color: #000000;
  font-style: normal;
  grid-column: 2/-2;
  margin-bottom: 62px;
}
.contacts__map {
  grid-column: 2/-2;
}
.contacts__feedback-link {
  display: block;
  text-decoration: none;
  grid-column: 2/-2;
}
.modal {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
  padding-top: 28px;
  padding-bottom: 46px;
}
.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  grid-column: 2/-2;
  margin-bottom: 14px;
}
.modal__form {
  grid-column: 2/-2;
}
.modal__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: #444444;
  color: #000000;
  text-align: center;
}
.modal__radio-group {
  display: flex;
  gap: 7px;
  margin-bottom: 31px;
}
.modal__control {
  flex-grow: 1;
}
.modal-control__input {
  -webkit-appearance: none;
          appearance: none;
}
.modal-control__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
  border: 2px solid rgba(68, 68, 68, 0.1);
}
.modal__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #63D1BB;
  width: 100%;
  border: none;
}
.page-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}
.catalog {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 2/-2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card__title-link {
  text-decoration: none;
}
.card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.card__text {
  font-size: 13px;
  line-height: 30px;
  font-weight: #444444;
  color: #000000;
}
.card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.manufacturing__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.manufacturing__text {
  font-size: 13px;
  line-height: 24px;
  font-weight: #444444;
  color: #000000;
}
.manufacturing__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
}
.order__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: #444444;
  color: #000000;
  margin-bottom: 37px;
}
.order-form__legend {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #63D1BB;
  text-transform: uppercase;
  padding-left: 0;
}
.order-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #63D1BB;
  margin-bottom: 40px;
}
.order-form__fieldset:last-of-type {
  margin-bottom: 17px;
}
.order-form__footnote {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: #444444;
  color: #000000;
  margin-bottom: 30px;
}
.order-form__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
  width: 100%;
  margin-bottom: 55px;
}
.control__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.control__input {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */
