.main-container__hero {
  margin-bottom: -41px;
}

.main-container__featured-product {
  margin-bottom: 31px;
}

.main-container__advantages {
  margin-bottom: 58px;
}

.main-container__customer-reviews {
  margin-bottom: 38px;
}

.main-container__contacts {
  margin-bottom: 39px;
}

.main-container__title {
  background-color: @grey;
  min-height: 177px;
  padding-left: 30px;
  padding-right: 30px;


  &--catalog {
    margin-bottom: 30px;
  }

  &--form {
    margin-bottom: 17px;
  }
}

.main-container__catalog {
  margin-bottom: 30px;
}

.main-container__manufacturing {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 58px;
}

.main-container__order {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 55px;
}

