.page {
  min-height: 100%;
}

.page__body {
  margin: 0 auto;
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  display: flex;
  flex-direction: column;
}
