.modal {
  .center-content;
  flex-direction: column;
  position: fixed;
  width: 400px;
  padding-left: 69px;
  padding-right: 69px;
  padding-top: 27.5px;
  padding-bottom: 45px;
  min-height: 336px;

  background-color: @white;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: @tablet-width) {
    width: 566px;
    padding-left: 89px;
    padding-right: 89px;
    padding-top: 26.5px;
    padding-bottom: 45px;
  }
}

.modal__title {
  .text-reset;
  .text(25px, 30px, 700);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    .text(30px, 57px, 700);
    margin-bottom: 11px;
  }
}

.modal__form {
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 320px;
  }
}

.modal__text {
  .text-reset;
  .text(15px, 30px, @brown);
  text-align: center;
  margin-bottom: 21.5px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-bottom: 19.5px;
  }
}

.modal__radio-group {
  display: flex;
  gap: 7px;
  margin-bottom: 31px;
}

.modal__control {
  flex-grow: 1;
}

.modal__button {
  .text(17px, 16px, 700, @white);
  background-color: @green;
  width: 100%;
  border: none;
}
