.advantages__container {
  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.advantages__intro {
  margin-bottom: -1px;

  @media (min-width: @tablet-width) {
    margin-bottom: -12.5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -15px;
  }
}

.advantages__list {
  .list-reset;

  @media (min-width: @tablet-width) {
    column-count: 2;
    column-gap: 0;
  }
}

.advantages__item {
  .list-item-reset;
  .text(17px, 20px, 700);
  padding-top: 83px;
  position: relative;

  @media (min-width: @tablet-width) {
    .text(20px, 22px, 700);
    padding-top: 110px;
  }

  &--eco-friendly {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 33px;
      height: 38px;
      left: 8px;
      top: 29px;
      background-image: url("../img/stack.svg#eco-friendly");
      background-size: 33px 38px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @tablet-width) {
        left: 8px;
        top: 54px;
      }
    }
  }

  &--scandinavian-style {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 47px;
      height: 27px;
      left: 0;
      top: 30px;
      background-image: url("../img/stack.svg#scandinavian-style");
      background-size: 47px 27px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @tablet-width) {
        left: -1px;
        top: 57px;
      }
    }
  }

  &--likes {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 34px;
      height: 27px;
      left: 7px;
      top: 35px;
      background-image: url("../img/stack.svg#likes");
      background-size: 34px 27px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @tablet-width) {
        left: 8px;
        top: 63px;
      }
    }
  }

  &--hand-made {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 35px;
      height: 34px;
      left: 3px;
      top: 32px;
      background-image: url("../img/stack.svg#hand-made");
      background-size: 35px 34px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @tablet-width) {
        left: 2px;
        top: 58px;
      }
    }
  }

  &--domestic-product {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 55px;
      height: 23px;
      left: -6px;
      top: 33px;
      background-image: url("../img/stack.svg#domestic-product");
      background-size: 55px 23px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @tablet-width) {
        left: -10px;
        top: 59px;
      }
    }
  }

  &--gift-wrapped {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 33px;
      height: 32px;
      left: 3px;
      top: 32px;
      background-image: url("../img/stack.svg#gift-wrapped");
      background-size: 33px 32px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: @tablet-width) {
        left: 2px;
        top: 58px;
      }
    }
  }
}
