.advantages__container {
  @media (min-width: @desktop-width) {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.advantages__intro {
  margin-bottom: -1px;

  @media (min-width: @tablet-width) {
    margin-bottom: -12.5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: -15px;
  }
}

.advantages__list {
  .list-reset;

  @media (min-width: @tablet-width) {
    column-count: 2;
  }
}

.advantages__item {
  .list-item-reset;
  .text(17px, 20px, 700);
  padding-top: 83px;

  @media (min-width: @tablet-width) {
    .text(20px, 22px, 700);
    padding-top: 110px;
  }

  &--eco-friendly {
    background-image: url("../img/stack.svg#eco-friendly");
    background-size: 33px 38px;
    background-repeat: no-repeat;
    background-position: 8px 29px;

    @media (min-width: @tablet-width) {
      background-position: 8px 54px;
    }
  }

  &--scandinavian-style {
    background-image: url("../img/stack.svg#scandinavian-style");
    background-size: 47px 27px;
    background-repeat: no-repeat;
    background-position: 0 30px;

    @media (min-width: @tablet-width) {
      background-position: -1px 57px;
    }
  }

  &--likes {
    background-image: url("../img/stack.svg#likes");
    background-size: 34px 27px;
    background-repeat: no-repeat;
    background-position: 7px 35px;

    @media (min-width: @tablet-width) {
      background-position: 8px 63px;
    }
  }

  &--hand-made {
    background-image: url("../img/stack.svg#hand-made");
    background-size: 35px 34px;
    background-repeat: no-repeat;
    background-position: 3px 32px;

    @media (min-width: @tablet-width) {
      background-position: 2px 58px;
    }
  }

  &--domestic-product {
    background-image: url("../img/stack.svg#domestic-product");
    background-size: 55px 23px;
    background-repeat: no-repeat;
    background-position: -6px 33px;

    @media (min-width: @tablet-width) {
      background-position: -10px 59px;
    }
  }

  &--gift-wrapped {
    background-image: url("../img/stack.svg#gift-wrapped");
    background-size: 33px 32px;
    background-repeat: no-repeat;
    background-position: 3px 32px;

    @media (min-width: @tablet-width) {
      background-position: 2px 58px;
    }
  }
}
