.contacts {
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: min-content;
  }
}

.contacts__title {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    width: 668px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 27px;
    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 3px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-top: 71px;
    padding-right: 30px;
    padding-left: 175px;
    margin-left: 0;
    margin-bottom: 12.5px;
    grid-column: 1/3;
    align-self: self-start;
    background-position: 63px 62px;
  }
}

.contacts__info {
  font-style: normal;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 62px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-left: 0;
    grid-column: 2/3;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 454px;
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    min-height: 457px;
    grid-column: 3/-1;
    grid-row: 1/span 3;
    margin-bottom: 0;
  }
}

.contacts__feedback-link {
  .link-reset;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 230px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    align-self: self-end;
    margin-left: 0;
  }
}

