.contact-info {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;

  @media (min-width: @desktop-width) {
    padding-right: 30px;
  }
}

.contact-info__label {
  .text-reset;
  width: 80px;
  padding-right: 10px;
  flex-shrink: 0;
}

.contact-info__email-link {
  .link-reset;
  color: @brown;
  width: 250px;

  @media (min-width: @desktop-width) {
    width: 240px;
  }

  &:hover,
  &:active {
    color: #46c1ae;
  }
}

.contact-info__email-link:hover {
  .contact-info__email::after {
    background-color: #46c1ae;
  }
}

.contact-info__email-link:active {
  .contact-info__email::after {
    opacity: 0.1;
  }
}

.contact-info__email {
  display: inline-block;
  width: fit-content;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: @green;
    position: relative;
    bottom: 3px;

    @media (min-width: @tablet-width) {
      bottom: 0;
    }
  }
}

.contact-info__address {
  .text-reset;
  flex-grow: 1;
}
