.contacts {
  .grid-4;
}

.contacts__title {
  .text-reset;
  .text(25px, 30px, 700);
  grid-column: 2/-2;
  margin-bottom: 28px;
}

.contacts__info {
  .text(14px, 30px, @brown);
  font-style: normal;
  grid-column: 2/-2;
  margin-bottom: 62px;
}

.contacts__map {
  grid-column: 2/-2;
}

.contacts__feedback-link {
  .link-reset;
  grid-column: 2/-2;
  margin-bottom: 39px;
}

