.customer-reviews {
  @media (min-width: @tablet-width) {
    background-image: url("../img/reviews/review.jpg");
    background-repeat: no-repeat;
    background-position: left;
  }

  @media (min-width: @desktop-width) {
    background-image: none;
  }
}

.customer-reviews__container {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/reviews/review.jpg");
    background-repeat: no-repeat;
    background-position: left;
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.customer-reviews__title {
  .text-reset;
  .text(25px, 30px, 700);

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/-1;
  }
}

.customer-reviews__wrapper {
  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/-1;
  }
}

.customer-reviews__list {
  .list-reset;
}

.customer-reviews__link {
  .link-reset;
  margin-bottom: 45px;

  @media (min-width: @tablet-width) {
    grid-column: -2/-1;
    min-width: 175px;
    position: absolute;
  }
}
