.detailed-card {
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: repeat(3, auto);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 23px;
      bottom: -96px;
      background-image: url("../img/stack.svg#zigzag-line-mobile");
      background-size: 1050px 23px;
      background-repeat: repeat-x;
      background-position: center;
    }
  }
}

.detailed-card__title {
  margin-bottom: 3.5px;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    width: 450px;
    margin-bottom: 37.5px;
  }

  @media (min-width: @desktop-width) {
    width: 545px;
    margin-top: 61px;
    margin-bottom: 35px;
    grid-column: 2/-1;
    grid-row: 1/2;
    order: 4;
    z-index: 1;
  }
}

.detailed-card__content {
  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    padding-right: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    padding-right: 58px;
  }
}

.detailed-card__description {
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 53px;
  }
}

.detailed-card__specs {
  .text-reset;
  .text(15px, 20px, @brown);
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 111px;
  }
}

.detailed-card__specs-item {
  display: flex;
  justify-content: flex-start;
  padding-top: 7px;
  padding-bottom: 12px;
  border-bottom: 1px solid @light-grey;
}

.detailed-card__feature {
  width: 97px;
  flex-shrink: 0;
  padding-right: 10px;
}

.detailed-card__value {
  margin-left: 0;
}

.detailed-card__image {
  display: block;
}

.detailed-card__image-container {
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-top: auto;
    grid-column: 2/3;
    grid-row: 2/span 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/-1;
    grid-row: 1/span 3;
  }
}

.detailed-card__price {
  .text-reset;
  .text(17px, 24px, 700, @brown);
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-bottom: 33px;
  }
}

.detailed-card__button {
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}
