.detailed-card__title {
  .text-reset;
  .text(25px, 30px, 700);
  margin-bottom: 41px;
}

.detailed-card__description {
  .text-reset;
  .text(15px, 24px, @brown);
  margin-bottom: 28px;
}

.detailed-card__specs {
  .text-reset;
  .text(15px, 20px, @brown);
  margin-bottom: 41px;
}

.detailed-card__image {
  margin-bottom: 25px;
}

.detailed-card__price {
  .text-reset;
  .text(17px, 24px, 700, @brown);
  text-align: center;
  margin-bottom: 25px;
}

.detailed-card__button {
  width: 100%;
  margin-bottom: 40px;
}
