.featured-product {
  .grid-4;
  position: relative;
}

.featured-product__title {
  .text-reset;
  .text(17px, 20px, 700, @green);
  text-transform: uppercase;
  position: absolute;
  top: 33px;
  left: 30px;
}

.featured-product__item {
  grid-column: 2/-2;
}


