.featured-product__title-container {
  position: relative;
}

.featured-product__title {
  .text-reset;
  .text(17px, 20px, 700, @green);
  text-transform: uppercase;
  position: absolute;
  top: 33px;

  @media (min-width: @tablet-width) {
    top: 10px;
    right: 13px;
    max-width: 100px;
    line-height: 17px;
  }

  @media (min-width: @desktop-width) {
    top: 60px;
    left: 60px;
  }
}
