.hero {
  position: relative;
  min-height: 489px;
  background-color: #f9f9f9;
  background-image: url("../img/hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top -17px center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/hero-mobile@2x.jpg");
    background-size: 320px auto;
  }

  &::after {
    content: "";
    position: absolute;

    @media (min-width: @tablet-width) {
      width: 100%;
      height: 24px;
      bottom: -12px;
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      background-position: center;
    }

    @media (min-width: @desktop-width) {
      height: 34px;
      bottom: -17px;
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
      background-position: center;
      background-size: contain;
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 746px;
    background-image: url("../img/hero/hero-desktop.jpg");
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  // @media (min-width: @desktop-width) {
  //   background-image: url("../img/hero/hero-desktop.jpg");
  // }
}

.hero__summary {
  text-align: center;
  padding-top: 73px;
  padding-bottom: 73px;

  @media (min-width: @tablet-width) {
    padding-top: 154px;
    padding-bottom: 154px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 157px;
    padding-bottom: 157px;
  }
}

.hero__links-wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 668px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    display: flex;
  }
}

.hero__link {
  .link-reset;
  .text(19px, 24px, 700, @white);
  width: 100%;
  min-height: 103px;
  padding: 24px 160px 31px 30px;

  @media (min-width: @tablet-width) {
    .text(20px, 30px, 700, @white);
    min-height: 119px;
    padding: 25px 167px 34px 36px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 350px;
  }

  &--interior {
    background-color: @green;
    background-image: url("../img/hero/interior.svg");
    background-repeat: no-repeat;
    background-position: top 23px right 36px;

    @media (min-width: @tablet-width) {
      background-position: top 30px right 36px;
    }
  }

  &--toys {
    background-color: @dark-green;
    background-image: url("../img/hero/toy.svg");
    background-repeat: no-repeat;
    background-position: top 21px right 27px;

    @media (min-width: @tablet-width) {
      background-position: top 31px right 33px;
    }

    @media (min-width: @desktop-width) {
      background-position: top 31px right 35px;
    }
  }
}

