.hero {
  .grid-4;
  position: relative;
  min-height: 356px;
  background-image: url("../img/hero/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top -17px center;

  @media (min-width: @tablet-width) {
    .grid-6;
  }

  @media (min-width: @desktop-width) {
    .grid-8;
  }
}

.hero__summary {
  .text-reset;
  .text(27px,30px,700);
  grid-column: 2/-2;
  text-align: center;

  @media (min-width: @tablet-width) {
    .text(43px, 50px, 700);
    grid-column: 3/-3;
  }

  @media (min-width: @desktop-width) {
    .text(53px, 57px, 700);
  }
}

.hero__links-wrapper {
  grid-column: 1/-1;

  @media (min-width: @tablet-width) {
    grid-column: 2/-2;
    display: flex;
  }
}

.hero__link {
  .link-reset;
  .text(19px, 24px, 700, @white);
  width: 100%;
  min-height: 103px;
  padding: 24px 160px 31px 30px;

  @media (min-width: @tablet-width) {
    .text(20px, 30px, 700, @white);
    min-height: 119px;
    padding: 25px 167px 34px 36px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 350px;
  }


  &--interior {
    background-color: @green;
    background-image: url("../img/hero/interior.svg");
    background-repeat: no-repeat;
    background-position: top 23px right 36px;
  }

  &--toys {
    background-color: @dark-green;
    background-image: url("../img/hero/toy.svg");
    background-repeat: no-repeat;
    background-position: top 21px right 27px;
  }
}

