.slider {
  position: relative;
}

.slider__item {
  display: none;

  &--current {
    display: block;
  }
}

.slider__button-wrapper {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    min-width: 175px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.slider__button {
  flex-grow: 1;
  border: 1px solid @light-grey;

  &--previous {
    background-image: url("../img/buttons/huge-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--next {
    background-image: url("../img/buttons/huge-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: @tablet-width) {
    border: none;
  }
}
