.slider {
  position: relative;
}

.slider__button-wrapper {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    min-width: 175px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.slider__button {
  flex-grow: 1;
  border: 1px solid #ececec;
}
