.order-form__legend {
  .text(17px, 18px, 700, @green);
  text-transform: uppercase;
  padding-left: 0;
}

.order-form__list {
  .list-reset;
}

.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid @green;
  margin-bottom: 40px;

  &:last-of-type {
    margin-bottom: 17px;
  }
}

.order-form__footnote {
  .text-reset;
  .text(14px, 16px, @brown);
  margin-bottom: 30px;
}

.order-form__button {
  .text(17px, 16px, 700, @brown);
  width: 100%;
  margin-bottom: 55px;
}


