.card {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
  }
}

.card__title-link {
  text-decoration: none;
}

.card__title {
  .text(17px, 24px, 700);
}

.card__text {
  .text(13px, 30px, @brown);
}

.card__price {
  .text(15px, 24px, 700);
}

.card__button {
  border: none;
  background-color: transparent;
  color: @black;
  opacity: 0.2;
}

