.card {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
  }
}

.card__image {
  display: block;
}

.card__content {
  min-height: 179px;
  border: 1px solid @light-grey;
  padding: 27px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding: 27px 34px;
    min-height: 334px;
  }

  @media (min-width: @desktop-width) {
    min-height: 197px;
  }
}

.card__title-link {
  text-decoration: none;
}

.card__title {
  margin-bottom: 6px;
}

.card__text {
  margin-bottom: 12px;
}

.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 46px;
  border-top: 1px solid @light-grey;
  margin-bottom: 0;
  margin-top: auto;
}

.card__price {
  .text-reset;
  .text(15px, 24px, 700);

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.card__button {
  width: 44px;
  height: 44px;
  border: none;
  mask-image: url("../img/stack.svg#cart");
  mask-repeat: no-repeat;
  mask-position: center top 20px;
  background-color: @black;
  opacity: 0.2;
  mask-size: 21px 18px;
}

