.manufacturing {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.manufacturing__video {
  @media (min-width: @tablet-width) {
    order: -1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/span 2;
  }
}

.manufacturing__title {
  .text-reset;
  .text(17px, 24px, 700);

  @media (max-width: @mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
  }
}

.manufacturing__content {
  @media (min-width: @tablet-width) {
    padding: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
  }
}

.manufacturing__text {
  .text(13px, 24px, @brown);
}

.manufacturing__link {
  text-decoration: none;
  .text(18px, 16px, 700, @brown);
}
