.video {
  position: relative;
}

.video__media {
  display: block;
}

.video__button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border: none;
  width: 101px;
  height: 77px;
  background-color: transparent;
  background-image: url("../img/manufacturing/play.svg");
}
