// Colors

@black: #000000;
@white: #ffffff;
@grey: #f1f1f1;
@light-grey: #ececec;
@green: #63d1bb;
@active-green: #62d1ba;
@dark-green: #56c3b2;
@brown: #444444;

// Viewports

@mobile-width-only: 767px;
@tablet-width: 768px;
@tablet-width-only: 1149px;
@desktop-width: 1150px;
