.navigation {
  .center-content;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation__logo {
  height: 79px;

  @media (min-width: @tablet-width) {
    margin-left: -2px;
    height: 88px;
  }

  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.navigation__logo img {
  height: 79px;
}

.navigation__toggle {
  position: absolute;
  display: block;
  width: 21px;
  height: 20px;
  background-color: @white;
  top: 29px;
  right: 30px;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.navigation--closed .navigation__list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 1px;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
}

.navigation--closed .navigation__toggle:hover::before {
  background-color: fade(#231f20, 60%);
  box-shadow:
    0 6px 0 0 fade(#231f20, 60%),
    0 12px 0 0 fade(#231f20, 60%);
}

.navigation--opened .navigation__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9.5px;
    right: -3px;
    width: 27px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: fade(@black, 60%);
  }
}

.navigation__list {
  .list-reset;
  background-color: @white;
  position: relative;
  width: 100%;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: flex;
    background-color: transparent;
  }
}

.navigation__footnote {
  display: none;

  @media (min-width: @tablet-width) {
    .text(15px, 24px, @brown);
    display: block;
    background-color: transparent;
    position: relative;
    order: 4;
    z-index: 2;
  }
}

.navigation--nojs .navigation__toggle {
  display: none;
}

.navigation--nojs {
  @media (max-width: @mobile-width-only) {
    position: static;
  }
}
