.navigation {
  position: relative;
  min-height: 79px;
}

.navigation__wrapper {
  .center-content;
  flex-direction: column;
  min-height: 79px;
  width: 100%;
}

.navigation__logo {
  display: block;
  width: 86px;
  height: 35px;
}

.navigation__toggle {
  position: absolute;
  display: block;
  top: 30px;
  right: 30px;
}

.navigation__list {
  .list-reset;
  width: 100%;
  display: none;
}
