.user-list {
  @media (min-width: @tablet-width) {
    order: 2;
    width: 349px;
  }

  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.user-list__item {
  .list-item-reset;
  min-height: 79px;

  @media (min-width: @tablet-width) {
    min-width: 82px;
    display: flex;
    align-items: center;
  }
}

.user-list__link {
  .link-reset;

  &--search {
    &::before {
      content: "";
      display: inline-block;
      mask-image: url("../img/stack.svg#search");
      background-color: @black;
      opacity: 0.2;
      width: 18px;
      height: 18px;
    }
  }

  &--cart {
    &::before {
      content: "";
      display: inline-block;
      mask-image: url("../img/stack.svg#cart");
      background-color: @black;
      opacity: 0.2;
      width: 21px;
      height: 18px;
    }
  }
}

.user-list__link-text {
  .text(17px, 24px, 700);

  &--search {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
