.user-list {
  @media (min-width: @tablet-width) {
    order: 2;
    width: 440px;
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    order: 3;
    width: 404px;
    align-self: start;
    justify-content: right;
  }
}

.user-list__item {
  min-height: 79px;

  &--search {
    @media (min-width: @tablet-width) {
      width: 84px;
      min-height: 89px;
      border-left: 1px solid @light-grey;
      border-right: 1px solid @light-grey;
    }
  }

  &--cart {
    @media (min-width: @tablet-width) {
      padding-left: 31px;
    }
  }
}

.user-list__link {
  .link-reset;
  position: relative;

  &--search {
    &::before {
      content: "";
      display: inline-block;
      mask-image: url("../img/stack.svg#search");
      background-color: @black;
      opacity: 0.2;
      width: 18px;
      height: 18px;
      position: absolute;
      left: 2px;
      top: 30px;

      @media (min-width: @tablet-width) {
        position: static;
        display: block;
      }
    }
  }

  &--cart {
    padding-left: 46px;

    @media (min-width: @tablet-width) {
      padding-right: 0;
      padding-left: 51px;
    }

    @media (min-width: @tablet-width) {
      padding-left: 53px;
    }

    &::before {
      content: "";
      display: inline-block;
      mask-image: url("../img/stack.svg#cart");
      background-color: @black;
      opacity: 0.2;
      width: 21px;
      height: 18px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &:hover {
    &::before {
      background-color: @green;
      opacity: 1;
    }
  }
}

.user-list__link-text {
  .text(17px, 24px, 700);

  &--search {
    @media (min-width: @tablet-width) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}
