.copyright-link {
  .link-reset;
  color: @green;
  width: 183px;
  min-height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: fade(#46c1ae, 30%);
  }
}

.copyright-link__text {
  .text(19px, 18px, 700);
}
