.copyright-link {
  .link-reset;
  color: @green;
  width: 183px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-link__text {
  .text(19px, 18px, 700);
}
